*{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

.top-banner{
    background-image:linear-gradient(to bottom, rgba(83, 86, 105, 0.52), rgba(31, 20, 28, 0.73)),
    url(images/donation8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}
.top-banner-text{
    color: whitesmoke;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
}

.top-banner-text h1{
     font-size: 65px;
}

.link-btn{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 30px;
    background-image: linear-gradient(tomato, orange);
    color: whitesmoke;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 700px;
    
}

.donate-article{
    width: 690px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
}

.reglar-heading{
    font-size: 45px;
   
}

.donate-figure{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    margin-bottom: 100px;
    color: #707070;
    border-radius: 5px;
}

.same-figure{
    background: #FAFAFA;
    padding: 20px 20px;
    margin-right: 20px;
    border-radius: 5px;
}

.dif-figure{
    background: #FFEEEE;
    color: #FF5959;
    padding: 20px 20px;
    margin-right: 20px;
    border-radius: 5px;
}

.other-amount{
    text-align: center;
    font-weight: 400px;
    color: #B3B3B3;
}
.line{
    border: 1px solid #DADADA;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;

}

.plan-text{
    display: flex;
    flex-direction: column;
    width: 690px;
    height: 120px;
    justify-content: center;
    
}

.plans-area{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.plan-item{
 width: 340px;
 height: 250px; 
 margin-left: 150px;
 padding-left: 20px;
 padding-top: 50px;
 
}

.plan-item img{
    width: 65px;
    height: 55px;
}

#item-1{
    background: rgba(79, 157, 166, 0.1);
}

#item-2{
    background: rgba(255, 89, 89, 0.1);
}

#item-3{
    background-color: #FFF4D6;
}

.field-area{

    display: flex;
    justify-content: center;
    background: #FFF4D6;
    align-items: center;
    width: 809px;
    height: 200px; 
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: none;
}

#email-field{
    background: #D9D9D9;
}

#submit-field{
    background: #FF5959;
}

footer{
    background: #0B0D17;
    height: 80px;
    color: whitesmoke;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 5px;
}